<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FRNDS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>My Friends</h1>
    <div id="friends-container"></div>

    <h2>Add Friends</h2>
    <input type="text" id="name" placeholder="Name">
    <input type="text" id="phone" placeholder="Phone">
    <input type="email" id="email" placeholder="Email">
    <button onclick="addFriend()">Add</button>

     <script src="script.js"></script>
</body>
</html>